<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gym</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./dist/css/app.css">
    </head>

    <body>
        <!-- App wrapper -->
        <div id="app">
            <!-- Website header -->
            <header>
                <nav>
                    <img src="./dist/img/gym_logo_1x.png" alt="Avada Gym logo">

                    <ul>
                        <li v-for="link in navigationLinks">
                            <a href="#">{{ link }}</a> 
                        </li>
                    </ul>
                </nav>

                <div class="jumbotron">
                    <h1>NO PAIN NO GAIN</h1>

                    <span>Motivation is what gets you started. Habit is what keeps you going.</span>

                    <button>Join us today</button>
                </div>
            </header>

            <!-- Website content -->
            <main>
                <!-- Section number 1 -->
                <section class="bg-brand-1">
                    <div class="wrapper">
                        <h2>WORLD CLASS Fitness</h2>
    
                        <img class="divider" src="./dist/img/divider-xx-red.png" alt="Two red X symbols">
    
                        <p>At Avada Gym, everything we do from top to bottom is of the highest quality to ensure we're equipped to help you reach your goals of a healthy and fit lifestyle.</p>
                    </div>
                </section>

                <!-- Section number 2 -->
                <section class="bg-brand-2">
                    <div class="wrapper">
                        <div class="image-wrapper">
    
                            <img src="./dist/img/home_img-compressor.jpg" alt="">
                        </div>
    
                        <div class="form-container">
                            <h3>Sign Up For A Free Training Session!</h3>
    
                            <form action="">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" id="name">
                                </div>
    
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email">
                                </div>
    
                                <button type="submit">START NOW!</button>
                            </form>
                        </div>
                    </div>
                </section>

                <!-- Section number 3 -->
                <section>
                    <div class="wrapper">
                        <div class="feature" v-for="feature in thirdSectionFeatures">
                            <div class="icon">
                                <i class="fas" :class="feature.iconClass"></i>
                            </div>
    
                            <h4>{{ feature.name }}</h4>
    
                            <img src="./dist/img/divider-x-red.png" alt="Red X symbol" class="divider">
    
                            <p>{{ feature.description }}</p>
                        </div>
                    </div>
                </section>

                <!-- Section number 4 -->
                <section class="bg-brand-1">
                    <h2>REAL WORLD RESULTS</h2>

                    <img class="divider" src="./dist/img/divider-xx-red.png" alt="Two red X symbols">

                    <div class="wrapper">
                        <div class="bg-brand-2 feedback" v-for="feedback in fourthSectionFeedbacks">
                            <img :src="feedback.image" :alt="'Face of ' + feedback.author">

                            <div class="feedback-info">
                                <p>“{{ feedback.feedback }}”</p>
                                <span>- {{ feedback.author }}</span>
                            </div>
                        </div>
                    </div>

                    <h2>HIGH PERFORMANCE FACILITIES</h2>

                    <img class="divider" src="./dist/img/divider-xx-red.png" alt="Two red X symbols">

                    <div class="wrapper">
                        <div class="image-wrapper" v-for="image in fourthSectionImages">
                            <img :src="image" alt="">
                        </div>
                    </div>
                </section>

                <!-- Section number 5 -->
                <section>

                </section>

                <!-- Section number 6 -->
                <section>

                </section>

                <!-- Section number 7 -->
                <section>

                </section>
            </main>

            <!-- Website footer -->
            <footer>

            </footer>
        </div>
        
        <!-- Vue.js 2.6.14 CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

        <!-- App script -->
        <script src="./dist/js/app.js"></script>
    </body>
</html>