/* Global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.bg-grey {
    background-color: $theme-color-1;
}

.bg-dark-grey {
    background-color: $theme-color-2;
}

.bg-red {
    background-color: $theme-color-3;
}

@mixin button {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    cursor: pointer;
    text-transform: uppercase;
}