/* Global rules */

body {
    background-color: black;
}

.bg-grey {
    background-color: $theme-color-1;
}

.bg-dark-grey {
    background-color: $theme-color-2;
}

.bg-red {
    background-color: $theme-color-3;
}