/* Global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}

body {
    background-color: black;
}

.bg-brand-1 {
    background-color: $theme-color-1;
}

.bg-brand-2 {
    background-color: $theme-color-2;
}

.bg-brand-3 {
    background-color: $theme-color-3;
}