/* Footer rules */

footer {
    *:not(section *) {
        font-size: 15px;
    }

    .footer-columns {
        display: flex;
        justify-content: center;
        padding: 86px 0;
        line-height: 30px;

        .wrapper {
            display: flex;
            justify-content: space-between;

            .column {
                width: 20%;
                display: flex;
                flex-direction: column;

                * {
                    color: $paragraph-color;
                }

                h4 {
                    font-weight: normal;
                    color: rgba(white, 0.4);
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
    
                a {
                    color: white;
                    text-decoration: none;
                    @include color-on-hover;
                }
            }

            .column.posts {
                hr {
                    border: 1px solid darken($paragraph-color, 40%);
                    margin: 20px 0;
                }

                a::before {
                    content: '\02C3';
                    font-size: 10px;
                    margin-right: 5px;
                }
            }

            .column.times {
                .time {
                    color: darken($paragraph-color, 30%);
                    margin: 10px 0;
                }
            }
            
            .column.ad {
                a {
                    @include scale-on-hover;
                }
            }
        }
    }
}