/* Footer copyright section rules */

footer {
    .copyright {
        padding: 32px 0;
        display: flex;
        justify-content: center;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $paragraph-color;

            .social-media {
                display: flex;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 42px;
                    height: 42px;
                    text-decoration: none;
                    margin-left: 10px;
                    font-size: 42px;

                    &:hover {
                        background-color: darken($theme-color-3, 5%);
                    }
                }
            }
        }
    }
}