/* Header rules */

header {
    background-image: url("../img/home-banner.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 4%;

        ul {
            display: flex;
            list-style-type: none;

            li:first-of-type {
                a {
                    color: $theme-color-3;
                }
            }

            li {
                margin-left: 40px;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    @include color-on-hover;
                }
            }
        }
    }
}