/* Header rules */

header {
    background-image: url("../img/home-banner.jpg");
    background-repeat: no-repeat;
    background-position: center -15px;
    background-size: cover;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 75px;

        ul {
            display: flex;
            list-style-type: none;

            li {
                margin-left: 40px;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}