/* Jumbotron rules */

header {
    .jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../img/home-banner.jpg");
        background-repeat: no-repeat;
        background-position: center;

        span {
            color: $paragraph-color;
        }

        button {
            @include button;
        }
    }
}