/* Jumbotron rules */

header {
    .jumbotron {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 160px;
        padding-bottom: 350px;

        h1 {
            font-size: 75px;
        }

        span {
            margin-top: 20px;
            color: $paragraph-color;
        }

        button {
            @include button;
            margin-top: 20px;
        }
    }
}