/* Media queries */

@media screen and (max-width: 768px) {
    main {
        section:nth-child(6) {
            .wrapper {
                flex-wrap: wrap;

                .person {
                    margin: 20px 0;
                }

                .person:nth-of-type(2) {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }

        section:nth-child(7) {
            .wrapper {
                .card {
                    width: 100% !important;
                    margin: 0 !important;
                    margin-bottom: 20px !important;
                }
            }
        }

        section:nth-child(8) {
            .wrapper {
                flex-direction: column;

                button {
                    white-space: nowrap;
                    margin-top: 30px;
                }
            }
        }
    }

    footer {
        .footer-columns {
            .wrapper {
                flex-wrap: wrap;

                .column {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}