@mixin button {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
        color: lighten($button-color, 50%);
        border: 1px solid lighten($button-color, 50%);
    }
}