/* Sass Mixins */

@mixin button {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
        color: white;
        border: 1px solid white;
    }
}