@mixin button {
    font-family: 'Montserrat', sans-serif;
    padding: 17px 40px;
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
        color: lighten($button-color, 50%);
        border: 1px solid lighten($button-color, 50%);
    }
}

@mixin section-arrow {
    content: "";
    position: absolute;
    top: 0;
    background-color: $theme-color-1;
    border-top: 30px solid $theme-color-1;
    border-right: 30px solid $theme-color-2;
    border-bottom: 30px solid $theme-color-2;
    border-left: 30px solid $theme-color-2;
}

@mixin scale-on-hover {
    transition: transform 0.35s;
    
    &:hover {
        transform: scale(1.03);

        img {
            transition: box-shadow 0.35s;
            box-shadow: 0 3px 15px rgb(0 0 0 / 40%);
        }
    }
}

@mixin color-on-hover {
    transition: color 0.3s;

    &:hover {
        color: $theme-color-3;
    }
}