/* General section rules */

main {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;

        h2 {
            font-size: 30px;
        }

        .divider {
            margin: 40px 0;
        }

        p {
            color: $paragraph-color;
        }
    }
}