/* Section #5 rules */

main {
    section:nth-child(5) {
        background-image: url("../img/home-testimonial-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 200px 0;

        .wrapper {
            width: 34%;
            letter-spacing: 2px;

            p {
                color: white;
                font-size: 30px;
                line-height: 50px;
            }

            span {
                display: block;
                margin-top: 20px;
                font-weight: bold;
            }
        }

    }
}