/* Section #2 rules*/

main {
    section:nth-child(2) {
        position: relative;

        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            > * {
                width: 50%;
            }

            .image-wrapper {
                @include scale-on-hover;
                cursor: pointer;
                
                img {
                    max-width: 100%;
                }
            }
            
            .form-container {
                margin-left: 40px;

                h3 {
                    letter-spacing: 1px;
                }
    
                .form-group {
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
        
                    label {
                        &, * {
                            color: $paragraph-color;
                        }

                        margin-bottom: 10px;
                    }
    
                    input {
                        background-color: transparent;
                        border: 1px solid #3e4346;
                        padding: 8px 15px;
                        transition: border 0.2s;
                        color: $paragraph-color;
                        font-size: 13px;
    
                        &:hover {
                            border: 1px solid #3e434680;
                        }
    
                        &:focus-visible {
                            outline: 0;
                        }
                    }
                }
        
                button {
                    @include button;
                    border: 0;
                    color: $theme-color-4;
                    background-color: $theme-color-3;
                    width: 100%;
                    margin-top: 40px;
        
                    &:hover {
                        border: 0;
                        background-color: desaturate(darken($theme-color-3, 10%), 30%);
                    }
                }
            }

            &::before {
                @include section-arrow;
            }
        }
    }
}