/* Section #6 rules */

main {
    section:nth-child(6) {
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .person {
                * {
                    font-size: 15px;
                }

                .image-wrapper {
                    cursor: pointer;
                    @include scale-on-hover;

                    img {
                        max-width: 100%;
                    }
                }

                .trainer-info {
                    padding: 40px;

                    .trainer-name, 
                    .trainer-title {
                        font-weight: bold;
                        font-family: 'Montserrat', sans-serif;
                    }

                    .trainer-title {
                        margin-top: 10px;
                    }
    
                    .trainer-description {
                        margin-top: 30px;
                        line-height: 30px;
                        color: $paragraph-color;
                    }
    
                    .social-media {
                        display: flex;
                        align-items: center;
                        color: $theme-color-4;
                        font-size: 16px;
                        margin-top: 30px;
    
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            width: 42px;
                            height: 42px;
                            margin-right: 10px;

                            &:hover {
                                background-color: saturate($theme-color-2, 5%);
                                
                                i {
                                    color: darken($theme-color-4, 20%);
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    margin: 0 50px;
                }
            }
        }

        button {
            @include button;
            margin-top: 70px;
            border: 1px solid $theme-color-2;
        }
    }
}